* {
  box-sizing: border-box;
}

header {

}

nav {

}

main {

}

section {

}

.top-box {

}

.target {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.target-nav {
  width: 200px;
  height: 200px;
  background-color: transparent;
}

.outer-ring {
  background-color: #03a3df;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.outer-ring a, .outer-ring div {
  position: relative;
  bottom: .5rem;
}

.target div:hover {
  background-color: #ecb722;
}

.middle-ring {
  background-color: white;
  width: 66%;
  height: 66%;
  border-radius: 50%;
}

.bullseye {
  background-color: #03a3df;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.top-section {

}

.top-article {

}

.signup-section {

}

.signup-form {

}

.form-label {

}

.form-text {

}

.form-select {

}

.form-required-label {

}

.form-required-text {

}

.form-required-select {

}

.card-section {

}

.card {

}

.card-top {

}

.card-middle {

}

.card-bottom {

}

.class-card {

}

.class-card-top {

}

.class-card-middle {

}

.class-card-bottom {

}

.staff-card {

}

.staff-card-top {

}

.staff-card-middle {

}

.staff-card-bottom {

}

.prereqs {

}

.price {

}

.tutoring-price-table {

}

.signup-button {

}
