* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid: [header-start] "header" auto [header-end]
        [main-start] "main" auto [main-end]
        [footer-start] "footer" auto [footer-end]
        / 100%;
  justify-items: center;
  background-color: #03a3df;
}

header {
  width: 100%;
  display: grid;
  grid: [row1-start] "topbox" 18rem [row1-end]
        [row2-start] "address-bar" 1.5rem [row2-end]
        / 100%;
  background-color: #444444;
  box-shadow: -5px 10px #000000;
}

nav {

}

address {

}

main {
  max-width: 100%;
  background-color: white;
  box-shadow: -5px 10px #000000;
  padding-bottom: 2rem;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

a, p {
  font-family: "arial";
  text-align: center;
}

section > h2 {
  font-size: xx-large;
  margin-bottom: 0px;
}

section > p {
  font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "arial"
}

.header-top-box {
  grid-area: topbox;
  display: grid;
  grid: [row1-start] ". card2 card1 card3 ." 17rem [row1-end]
        / auto 10rem 10rem 10rem auto;
  justify-items: center;
  align-items: end;
}

.nav-card {
  margin-bottom: 0rem;
  background-image: url('../images/cardbg-whitelogo.png');
  background-position: top;
  border: 5px ridge #ecb722;
  transition: margin-bottom .0625s;
  width: 10rem;
  height: 15rem;
  justify-content: center;
  text-align: center;
  shape-outside: circle();
}

.nav-card:hover {
  margin-bottom: 1rem;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.header-middle-bar {
  display: flex;
  text-align: center;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-top-box a, .address-bar a {
  text-decoration-line: none;
  font-style: normal;
}
/*
.address-bar a::before {
  content: " * ";
  text-decoration-line: none;
}

.address-bar a:first-of-type::before {
  content: "";
}
*/

.fa-bullseye {
  color: #ecb722;
}
.top-section {

}

.top-article {

}

.signup-section {

}

.signup-form {
  background-color: #ecb722;
  box-shadow: 5px 10px #000000;
  padding: 1rem;
}

.form-label {

}

.form-text {

}

.form-select {

}

.form-required-label {

}

.form-required-text {

}

.form-required-select {

}

.class-list {
  display: grid;
  grid: [row1-start] "card1 card2" 43rem [row1-end]
        [row2-start] "card3 card4" 43rem [row2-end]
        / 33rem 33rem;
  grid-gap: 2rem 3rem;
}

.card-section {

}

.card {
 border: 10px ridge #ecb722;
 border-radius: 10px;
}

.card-top {

}

.card-middle {

}

.card-bottom {

}

.class-card {
  display: grid;
  grid: "level . . time time" 1.25em
        "name name name name name" 4em
        "days days days days days" 2.5em
        ". . . . ." 15em
        "desc desc desc desc desc" 15em
        "price price . . signup" 4em
        / minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  background-image: url('../images/cardbg-whitelogo.png');
  background-size: cover;
}

.class-card * {
  margin: 0px;
}

.class-card:hover {
  box-shadow: 5px 10px #ecb722;
}

.class-card h3:first-child {
  grid-area: name;
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
  color: #ecb722;
}

.class-card > p:nth-child(2) {
  grid-area: level;
  font-size: 1.25em;
  font-weight: bold;
  color: #ecb722;
  text-align: left;
  margin-left: .5em;
}

.class-card p:nth-child(3) {
  grid-area: days;
  font-size: 1.5em;
  font-weight: bold;
  color: #ecb722;
}

.class-card p:nth-child(4) {
  grid-area: time;
  font-size: 1.25em;
  font-weight: bold;
  color: #ecb722;
  text-align: right;
  margin-right: .5em;
}

.class-card div:nth-child(5) {
  grid-area: desc;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.class-card div:nth-child(5) p {
  margin: .5em 0px .5em;
  text-align: left;
}

.class-card p:nth-child(6) {
  grid-area: price;
  align-self: center;
  font-size: x-large;
  font-weight: bold;
  color: #ecb722;
  justify-self: start;
  margin-left: .5em;
}

.class-card a:nth-child(7) {
  grid-area: signup;
  align-self: center;
  background-color: #ecb722;
  margin-right: .5em;
  padding: .66em 0px;
  border-radius: 8px;
  text-decoration-line: none;
  color: white;
  font-family: "arial";
  font-weight: bold;
}

.description-text {
  background-image: url();
  background-color: lightgray;
  margin: 0px .5rem 0px;
  padding: 0px .5rem 0px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-size: larger;
}

.class-card-top {

}

.class-card-middle {

}

.class-card-bottom {

}

.staff-card {

}

.staff-card-top {

}

.staff-card-middle {

}

.staff-card-bottom {

}

.prereqs {

}

.price {

}

.tutoring-price-table {

}

.signup-button {

}

.actiities-list article .activity-card:nth-of-type(odd) {
  float: left;
}

.actiities-list article .activity-card:nth-of-type(even) {
  float: right;
}
