* {
  box-sizing: border-box;
}

header {

}

nav {

}

main {

}

section {

}

a, p {
  font-family: "arial";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "arial"
}

.header-top-box {
  max-width: 80rem;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
  align-items: center;
}

.target {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow: clip;
}

.target a {
  text-decoration-line: none;
  font-family: "arial";
}

.target-nav {
  width: 220px;
  height: 220px;
  background-color: transparent;
}

.target-nav div:nth-of-type(2n+1) {
  background-color: #03a3df;
}

.target-nav div:nth-of-type(2n+2) {
  background-color: white;
}

.target-nav div:nth-of-type(2n+1) a {
  color: white;
}

.target-nav div:hover {
  background-color: #ecb722;
}

.outer-ring {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: relative;
  right: 14rem;
  z-index: 1;
}

.middle-ring {
  width: 66%;
  height: 66%;
  border-radius: 50%;
  z-index: 2;
  position: relative;
  right: 2.93rem;
}

.bullseye {
  width: 37%;
  height: 37%;
  border-radius: 50%;
  z-index: 3;
  position: relative;
  left: 4.08rem;
}

.outer-ring a {
  position: relative;
  bottom: 5.5rem;
}

.middle-ring a {
  position: relative;
  bottom: 3.5rem;
  right: .13rem;
}

.bullseye a {

}

.nav-card {
  margin-bottom: -2rem;
  background-image: "imagaes/nav-card-bg.png";
  border: 5px ridge #ecb722;
  transition: margin-bottom 1s ease-in-out;
}

.nav-card:hover {
  margin-bottom: 0rem;
}

.address-bar a {
  text-decoration-line: none;
  font-style: normal;
}
/*
.address-bar a::before {
  content: " * ";
  text-decoration-line: none;
}

.address-bar a:first-of-type::before {
  content: "";
}
*/
.fa-bullseye {
  color: #ecb722;
}
.top-section {

}

.top-article {

}

.signup-section {

}

.signup-form {

}

.form-label {

}

.form-text {

}

.form-select {

}

.form-required-label {

}

.form-required-text {

}

.form-required-select {

}

.card-section {

}

.card {

}

.card-top {

}

.card-middle {

}

.card-bottom {

}

.class-card {

}

.class-card-top {

}

.class-card-middle {

}

.class-card-bottom {

}

.staff-card {

}

.staff-card-top {

}

.staff-card-middle {

}

.staff-card-bottom {

}

.prereqs {

}

.price {

}

.tutoring-price-table {

}

.signup-button {

}

.actiities-list article .activity-card:nth-of-type(odd) {
  float: left;
}

.actiities-list article .activity-card:nth-of-type(even) {
  float: right;
}
